@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .tabs-boxed .tab-active {
    @apply bg-slate-800 bg-opacity-50 text-slate-200 !important;
  }
}

::-webkit-scrollbar {
  @apply w-1 bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-light-grey dark:bg-dark-grey rounded-xl;
}
